// Specific CSS for your home-page
h1 {
  font-weight: 900;
  text-align: center;
  color: $light-gray;
}

h2 {
  text-align: center;
  padding: 15px;
}

.btn-danger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
