// Specific CSS for your home-page
.body {
  margin: 0;
}

.banner {
  height: 1280px;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 900;
  text-align: center;
  padding-top: 25px;
}

.btn btn-danger {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
