// Specific CSS for your home-page
.banner {
  h1 {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: $light-gray;
  }

  h2 {
    font-family: 45px;
    font-weight: 400;
    text-align: center;
    color: $light-gray;
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

h2 {
  font-family: 45px;
  font-weight: 400;
  text-align: center;
  color: $gray;
  padding-bottom: 40px;
}

.btn-danger {
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 35px;
}

.wrapper-transparent {
  padding: 10px;
  margin-bottom: 35px;
  .wrapper-button {
    text-align: center;
    padding: 35px;
    margin-bottom: 30px;
  }
}

.home-button {
  text-align: center;
  padding: 35px;
}

.home-list {
  text-align: center;
  padding-top: 30px;
}

#reasons-list {
  font-family: Work Sans;
  font-size: 25px;
  color: $gray;
  list-style-type: none;
  padding: 35px;
  .fa {
    color: $gray  ;
    font-size: 20px;
    padding: 15px;
  }
}

.li {
    padding: 20px;
  }
