  <div class="container">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="booking-h2">
        <h2><%= @skill.name %></h2>
        <div class= "booking-form">
          <div class="booking-date-picker">
            <p>Select a date</p>
            <div id="inner-form">
              <%= render "bookings/form", skill: @skill, booking: @booking %>
              <!-- <p><i class="fa fa-eur" aria-hidden="true"></i><%#= @skill.price %>€</p> -->
            </div>
          </div>
          <div class="booking-image">
            <%= cl_image_tag @skill.photo %>
          </div>
        </div>
      </div>
    </div>
  </div>
