.avatar {
  height: 40px;
  width: 40px;
}
.skill {
  // position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.links {
  // position: absolute;
  // right: 20px;
  // top: 80px;
  display: flex;
  flex-direction: column;

  .in_page {
    width: 100px;
      }
}

.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.heading {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;

  h2 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    text-align: left;
    padding: 0;
    color: rgba(0,0,0,0.6) !important;
  }

  p {
    font-size: 15px;
    color: rgba(0,0,0, 0.4);
    font-weight: lighter;
  }

}

#price {
  color: rgba(0,0,0,0.4);
  padding-left: 0px !important;
  padding-bottom: 10px;
}

.description {
  width: 500px;

  #location {
    font-style: italic;
    font-size: 17px;
    font-weight: lighter;
    color: rgba(0,0,0,0.4);
  }
}

