.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.booking h3 {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}

#start-date-center {
  text-align: center;
  font-size: 15px;
}

.information-frame {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 10px 0px;
}
