<div class="container">
  <h1>Learn to survive</h1>
  <div class="row">
    <% @skills.each do |skill| %>
      <div class="col-xs-12 col-sm-4">
        <p><%= link_to skill.name, skill_path(skill) %></p>
        <p><%= skill.location %></p>
        <p><%= skill.price %>€</p>
      </div>
    <% end %>
  </div>
</div>
