<div class="container">
  <h1>Learn to survive</h1>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <% @skills.each do |skill| %>
        <%#= link_to skill.name, skill_path(@skill) %>
        <%= skill.description %>
        <%= skill.location %>
        <%= skill.price %>
      <% end %>
    </div>
  </div>
</div>
