<div class="container">
  <h1 style="padding-bottom: 20px;">Learn to survive</h1>
  <div class="row">
    <% @skills.each do |skill| %>
      <%= render "shared/card", skill: skill%>
    <% end %>
  </div>
</div>
