<div class="banner" style="background-image: linear-gradient(160deg, rgba(42, 71, 97,0.7) 40%, rgba(122, 122, 122,0.3) 80%), url(<%= image_path "whitebear.jpg" %>);">
  <div class="banner-content">
    <div class="col-xs-12 col-md-12">
      <h1>SAUVE TA RACE !</h1>
      <h2>Survival camps made for endangered species</h2>
      <div class="row">
        <%= link_to "Discover", "/skills", class: "btn btn-primary btn-lg in_banner"%>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-transparent">
  <div class="container">
    <h2>The best survival skills</h2>
    <div class="row">
      <%= render 'shared/home' %>
    </div>
    <div class="home-button">
      <%= link_to "See more bootcamps", "/skills", class: "btn btn-primary btn-lg in_banner"%>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4"id="reasons-list" >
      <i class="fa fa-globe" aria-hidden="true"></i>
      <p> Join an global community human-free</p>
    </div>
    <div class="col-xs-12 col-md-4"id="reasons-list" >
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <p> Learn the survival way</p>
    </div>
    <div class="col-xs-12 col-md-4"id="reasons-list" >
      <i class="fa fa-credit-card" aria-hidden="true"></i>
      <p> Pay in fruits or Stripe (we still prefer stripe)</p>
    </div>
  </div>
</div> -->
