<div class="banner" style="background-image: linear-gradient(160deg, rgba(42, 71, 97,0.7) 40%, rgba(122, 122, 122,0.3) 80%), url(<%= image_path "whitebear.jpg" %>);">
  <div class="banner-content">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1>APPRENDS COMMENT SAUVER TA RACE !</h1>
      <%= link_to "Fais un stage de survie", "/skills", class: "btn btn-danger"%>
    </div>
  </div>
</div>
