/* -------------------------------------
 * Your CSS code for banners
* ------------------------------------- */

.body {
  margin: 0;
}

.banner {
  height: 310px;
  width: 100%;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-show {
  height: 400px;
  margin-bottom: 30px;
}

.banner-content h1 {
  margin-bottom: 20px;
}
