.in_page {
  font-size: 15px;
  border-radius: 20px;
}

.in_banner {
  background-color: #ED4639;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}
