.form_searchbar {
  width: 50%;
  margin-bottom: 30px;
}

.searchbar {
  display: flex;
  margin-left: -15px;
}

.fa-search {
  padding-left: 10px;
  padding-top: 10px;
}

.border-radius-form {
  border-radius: 20px;
}
