.swal-button {
  background-color: #ED4639 !important;
  font-size: 15px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2)!important;
  text-align: center;
}

.swal-title {
  font-family: Work Sans !important;
  font-size: 25px !important;
  color: $gray !important;
}

.swal-text {
  font-family: Open Sans !important;
  font-size: 15px !important;
  text-align: left;
}

.swal-footer {
  display: flex !important;
  justify-content: space-around !important;
}
